{% extends 'blog/base.html' %}
{% block content %}
    <div class="ui raised very padded text container segment">
      <h2 class="ui header">Something about me</h2>
      <p>see, nothing's really different. This code also would allow me to switch languages, but it won't show me current language before first change.

I created simple demo, its view is not perfect, but the issue can be reproduced easily: stackblitz. I wonder if I missed something, but I really stuck here trying to make material variant work and show me current lang before I open dropdown and pick a lang.</p>
      <p></p>
    </div>
    <div class="ui raised very padded text container segment">
      <h2 class="ui header">Something about me</h2>
      <p>see, nothing's really different. This code also would allow me to switch languages, but it won't show me current language before first change.

I created simple demo, its view is not perfect, but the issue can be reproduced easily: stackblitz. I wonder if I missed something, but I really stuck here trying to make material variant work and show me current lang before I open dropdown and pick a lang.</p>
      <p></p>
    </div>
    <div class="ui raised very padded text container segment">
      <h2 class="ui header">Something about me</h2>
      <p>see, nothing's really different. This code also would allow me to switch languages, but it won't show me current language before first change.

I created simple demo, its view is not perfect, but the issue can be reproduced easily: stackblitz. I wonder if I missed something, but I really stuck here trying to make material variant work and show me current lang before I open dropdown and pick a lang.</p>
      <p></p>
    </div>
{% endblock content %}
