{#载入静态文件#}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
    {% if title %}
        <title></title>
    {% else %}
        <title></title>
    {% endif %}
</head>
<body>

    <div class="ui segment">
        <div class="ui container">
              <div class="ui large secondary menu">
                <a class="active item" href="{% url 'blog-home' %}"><i class="home icon"></i>Home</a>
                <a class="item"><i class="book icon"></i>Blog</a>
                <a class="item" href="{% url 'blog-about' %}"><i class="info circle icon"></i>About</a>
                <div class="right menu">
                    {% if user.is_authenticated %}
                        <div class="item">
                            <a class="ui button" href="{% url 'profile' %}">Profile</a>
                        </div>
                        <div class="item">
                            <a class="ui button" href="{% url 'logout' %}">Logout</a>
                        </div>

                    {% else %}
                      <div class="item">
                        <a class="ui button" href="{% url 'login' %}">Log in</a>
                      </div>
                      <div class="item">
                        <a class="ui button" href="{% url 'register' %}">Sign Up</a>
                      </div>
                    {% endif %}
                </div>
              </div>
        </div>


    </div>

    <br>
    <br>
    <div class="ui container">
        <div class="ui stackable grid">

            <div class="eleven wide column">

                {% block content %}

                {% endblock %}
            </div>
            <div class="five wide column">

                <div class="ui segments">
                    <div class="ui secondary segment ">
                      <i class="bookmark icon"></i>SideBar
                    </div>
                    <div class="ui segment">
                      <a href="#"  target="_blank">Topics</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>