{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}

    <div class="ui middle aligned center aligned grid" >
        <div class="column" style="max-width: 35em !important;">
            <h2 class="ui image header">
                <div class="content">
                    Join Us Today
                </div>
            </h2>
{#            <form class="ui large form" method="post" action="{% url 'register' %}">#}
{#            {% csrf_token %}#}
{#            <div class="ui segment">#}
{#                <div class="field">#}
{#                    <div class="ui left icon input">#}
{#                        <i class="user icon"></i>#}
{#                        <input type="text" name="username" placeholder="username">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="field">#}
{#                    <div class="ui left icon input">#}
{#                        <i class="lock icon"></i>#}
{#                        <input type="password" name="password" placeholder="password">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="field">#}
{#                    <div class="ui left icon input">#}
{#                        <i class="lock icon"></i>#}
{#                        <input type="password" name="password_confirm" placeholder="confirm password">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="field">#}
{#                    <div class="ui left icon input">#}
{#                        <i class="envelope icon"></i>#}
{#                        <input type="text" name="email" placeholder="email">#}
{#                    </div>#}
{#                </div>#}
{#                <button class="ui fluid large submit button">Sign Up</button>#}
{#            </div>#}
{##}
{#        </form>#}
            <form class="ui form" method="POST">
                {% csrf_token %}
                <div class="ui segment">
                    {% for field in form %}
                    <div class="field">

                        <label style="text-align: left;font-size: 1em" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}

                    </div>

                    {% endfor %}
                    <button class="ui fluid button">Sign Up</button>
                </div>

            </form>
            <div class="ui message">
              Already have an account? <a href="{% url 'login' %}">Sign In</a>
            </div>
        </div>
    </div>



{% endblock content %}